<div class="new-layput">
    <div class="user-form">
        <h2>ログイン</h2>
        <% if @error_message %>
            <p class="error-message"><%= @error_message %></p>
        <% end %>
        <%= form_with model: @user,url: login_path,local: true  do |f|%>
            <table>
                <tr>
                    <td><%= f.text_field :email,class: "form-control",placeholder: "email" %></td>
                </tr>
                <tr>
                    <td><%= f.password_field :password ,class: "form-control" ,placeholder: "パスワード" %></td>
                </tr>
            </table>
            <div class="form-buttons">
                    <input type="submit" value="Sign in" class="create_btn">
            </div>
        <% end %>
            <%= link_to("新規登録","/users/new", class:"other-btn") %>
</div>