<div class="new-layouts">
    <div class="user-form">
        <h2>新しいアカウントを作成</h2>
            <%= form_with model: @user ,url: users_path, local: true do |f| %>
                <% if @user.errors.any? %>
                <ul class= "error-message">
                    <% @user.errors.full_messages. each do |error| %>
                        <li><%= error %></li>
                    <% end %>
                </ul>
                <% end %> 
                <table>
                    <tr>
                        <th>必須</th>
                         <td><%= f.text_field :name,class: "form-control", placeholder: "名前" %></td>
                    </tr>
                    <tr>
                        <th>必須</th>                            <td><%= f.text_field :email,class: "form-control", placeholder: "メールアドレス" %></td>
                    </tr>
                    <tr>
                        <th>必須</th>
                        <td><%= f.text_field :password,class: "form-control", placeholder: "パスワード" %></td>
                    </tr>
                    <tr>    
                        <th>必須</th>
                        <td><%= f.password_field :password_confirmation,class: "form-control", placeholder: "パスワード再入力" %></td>
                    </tr>
                 </table>
                 <div class="form-buttons">
                    <input type="submit" value="Sign Up" class="create-btn">
                 </div>
             <% end %>
                <%= link_to("既にアカウントをお持ちの方はログイン","/login", class:"other-btn") %>
    </div>
</div>