<div class="container show">
    <div class="show-detail">
        <div class="user-show-image">
           <% if @user.image? %>
                <%= image_tag @user.image.url , class: "icon-image" %>
            <% else %>
                <%= image_tag "default_icon.jpg", class: "icon-image" %>
           <% end %>
        </div>
        <div class="show-profile">
            <div class="show-name">
                <p class="name"><%= @user.name %></p>
                <p class="addres"><%= @user.email %></p>
            </div>
        </div>
        <p class="content"><%= @user.intro %></p>
        <button class="show-btn create-btn">
            <%= link_to "編集する", edit_user_path(@user) ,class: "btn-font" %>
        </button>
    </div> 
    
  
</div>