<div class="new container">
    <div class="form-text">
        <h2>基本情報</h2>
        <h3>ルーム情報登録</h3>
    </div>
    <%= form_with url: rooms_path ,local:true do |f| %>
    <table class="form-table">
        <tr>
            <th><%= f.label :room_name ,"ルーム名" %></th>
            <td><%= f.text_field :room_name %></td>
        </tr>
        <tr>
            <th><%= f.label :room_PR ,"ルーム紹介" %></th>
            <td><%= f.text_area :room_PR %></td>
        </tr>
        <tr>
           <th><%= f.label :room_price ,"料金" %></th>
            <td><%= f.text_field :room_price %></td>
        </tr>
         <tr>
            <th><%= f.label :room_address ,"住所" %></th>
            <td><%= f.text_field :room_address %></td>
         </tr>
         <tr>
            <th><%= f.label :images ,"画像" %></th>
            <td><%= f.file_field :images %></td>
         </tr>
    </table>
    <div class="new-form">
      <input type="submit" value="登録する" class="create-btn">
    </div>
    <% end %>
</div>

