<div class="container show">
    <div class="show-detail">
        <div class="show-image">
            <% if @room.images? %>
                <%= image_tag @room.images.url , class: "room-image" %>
            <% else %>
                <%= image_tag "default_room.jpg", class: "room-image" %>
           <% end %>
        </div>
        <div class="show-profile">
            <div class="show-name">
                <p class="name"><%= @room.room_name %></p>
                <p class="addres"><%= @room.room_address %></p>
            </div>
        </div>
        <p class="content"><%= @room.room_PR %></p>
        <button class="show-btn create-btn">
            <%= link_to "予約する", new_room_reservation_path(@room) ,class: "btn-font" %>
        </button>
    </div> 
    
  
</div>